/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
  background-color: #bebebe;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}




body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
}

/* Hero */
.hero{
  background-image: url("../images/mountains.jpg"), url("../images/svg/background.svg");
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat:no-repeat;
  background-color: #bebebe;
}


/* Price */
.product-list{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.product-card-info{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.product-card-button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
}


/* Button */
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}





/* Pages */
.navigation-link {
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  padding: 20px 16px;
}



.container {
  width: 1060px;
  margin: 0 auto;
}


/* Advantages */
.advantages {
  text-align: center;
}

.advantages-list{
  text-align: center;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  position: relative;
}


.advantages-text{
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages-change{
  color: #ffffff;}

.main-index {
  color: #000000;
  background-repeat: no-repeat;
  text-align: center;
}




.item-color{
  color:#ffffff;
  background-color: #83B3D3;
}


.advantages{
  background-color: #F0F6FA;
}

.advantages-color{
  background-color: #E6F0F6;}

.advantages-item-container{
  background-color: #83B3D3;

}


/* Services */
.services{
  text-align: center;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}


.services-list{
  background-color: #F0F6FA;
}


.services-list-color{
  background-color: #ffffff;
}



/* Search */
.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;}

  .search-lead {
    font-family: PT Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;}

    .button-search {
      font-size: 20px;
      line-height: 36px;
      font-weight: 700;
      padding: 8px 50px;
    }

/* Title */
.gallery-title{}

.page-footer .footer-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* Label */
.visually-hidden{
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.pagination .pagination-item {
font-size: 20px;
line-height: 36px;
font-style: normal;
font-weight: 700;
color:#ffffff;
background-color:  #82B3D3;
text-decoration: none;
position: relative;
text-align: center;
}



.pagination-item:first-child{
  background-color:#F2F2F2
}

.subscription{
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-title-change {
    color: #000000;
  }

  .subscription-text {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 54px;}



    .button-subscription {
      font-size: 20px;
      line-height: 36px;
      background-color: #82b3d3;}





/* Footer */
.page-footer {
  text-align: center;
}

.footer-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


.color-change {
  background-color:  #82B3D3;
}

.color-changes {
  background-color:  #7DB54F;
}


/* Catalog */

.inner-container {
  background-image: url("../images/catalog.jpg");
  background-color: bebebe;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
